@import "../../mixins";

.login-form {
  @include login-container();
  position: relative;

  &__label {
    margin-bottom: 0.25rem;
    display: block;
  }

  &__input {
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    width: 100%;
    display: block;
    font-size: 1rem;
    border: 1px solid #e5e7eb;
  }

  &__input-wrapper {
    margin-bottom: 0.5rem;
  }

  &__submit-wrapper {
    margin-bottom: 0.25rem;
    text-align: center;
  }

  &__submit {
    @include login-button(#059669, #fff);
  }

  &__error-message {
    border-radius: 0.25rem;
    padding: 0.5rem 0.25rem;
    background-color: #f87171;
    color: #fff;
    margin-bottom: 0.5rem;
  }

  &__loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
